body {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, gray , white, gray);
    background-size: cover;
}

#viewer {
    width: 800px;
    height: 350px;
    margin: 100px auto 20px auto;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    box-shadow: 0px 5px 5px gray;
    overflow: hidden;
    position: relative;
}


img {
    width: 90%;
    height: auto;
    
    
}

button {
  -webkit-appearance: none;
  background: transparent;
  border: 0;
  outline: 0;
}

svg:hover {
    fill: black;
}

#forward {
    transform: rotate(0.5turn);
}

#imgContainer {
    width: 800px;
    height: 350px;
}

#imgData {
    background: black;
    color: white;
    position: absolute;
    bottom: 0px;
    text-align: left;
    padding: 15px;
    height: 20%;
    width: 80%;
    opacity: 0.7;
    left: 0;
    right: 0;
    margin: auto
}

h2 {
    margin-top: 2px;
    margin-bottom: 5px;
    font-size: 1.2rem;
}

p {
    margin-top: 2px;
    font-size: 0.8rem; 
}

#tnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

#tnContainer img {
    object-fit: cover;
    width: 90px;
    height: 90px;
    border: 1px solid darkslategray;
    border-radius: 3px;
}

.thumbnail {
    width: 90px;
    height: 90px;
    margin: 10px;
    position: relative;
}

.title {
    position: absolute;
    bottom: -35px;
    text-align: center;
    width: auto;
    padding: 2px 5px 2px 5px;
    color: white;
    background: gray;
    border-radius: 2px;
    box-shadow: 0px 0px 8px 3px darkslategray;
    font-size: 15px;
    display: none;
    white-space: nowrap;
    margin: 0;
}

.thumbnail:hover .title {
    display: initial;
}

.active {
    box-shadow: 0px 0px 8px 3px darkslategray;
}

